# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
# For local MongoDB: mongodb://localhost:27017/ol_math_platform
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/database_name
MONGODB_URI=mongodb+srv://IreshDB:IreshDB@cluster01.s0ull8e.mongodb.net/ol_math_platform

# JWT Configuration
JWT_SECRET=2d367347dfba1491e9b9ceb075801d64efe6de784a1e385adad39a3ea1d9b22b
JWT_EXPIRE=7d

# Service URLs
ML_SERVICE_URL=http://localhost:5001
FRONTEND_URL=http://localhost:3000

